.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10px 0 10px 0;
  padding: 0;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-family: monospace;
  padding: 5px;
}
.item:hover {
  cursor: pointer;
  background-color: #ededf0;

  border-radius: 5px;
}

.delBtn {
  background-color: transparent;

  border: none;
  height: 25px;
}
.delBtn:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.3);
}

.buttonFav {
  background-color: transparent;

  border: none;
  height: 25px;
}
.buttonFav:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.editBtn {
  background-color: transparent;

  border: none;
  height: 25px;
}

.editBtn:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.notify {
  color: red;
  margin-top: 5px;
}
